.shortsAnonses {
  padding-bottom: 150px;
}

.anonsesText {
  padding-top: 203px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.anonsesText div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.anonsesText div p {
  font-size: 24px;
  font-weight: 700;
  font-family: "EB Garamond", serif;
}

.anonsesText .shortsText {
  font-size: 2rem;
  font-weight: 700;
  font-family: "EB Garamond", serif;
}

.anonsesBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  padding: 5px;
  border-radius: 10px;
}
.anonsesBox:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}
.anonsesDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #05b093;
  width: 100px;
  height: 98px;
  border-radius: 12px;
}

.anonsesDate p:first-child {
  font-size: 32px;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: white;
}

.anonsesDate p:last-child {
  font-size: 18px;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: white;
}

.anonsesBox div:last-child p {
  font-size: 14px;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

.anonsesdodo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 880px) {
  .anonsesText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
@media (max-width: 1108px) {
  .anonsesdodo {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 801px) {
  .anonsesDate {
    width: 80px;
    height: 78px;
  }
  .anonsesDate p:last-child {
    font-size: 0.9rem;
  }
  .anonsesBox {
    gap: 10px;
  }
  .anonsesBox {
    width: 100%;
  }
}
@media (max-width: 728px) {
  .anonsesBox div:last-child p {
    font-size: 0.8rem;
  }
  .anonsesdodo {
    grid-template-columns: 1fr;
  }
}


/* anounces modal */

.anounce-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 450px;
  border: none;
}

.anounce-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  pointer-events: none;
  
}
.overlay.active {
  opacity: 0.4;
  pointer-events: all;
}

.modal_box-title {
  background-color: #efefefbf;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: rgb(1, 1, 1);
}

.modal_box-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal_box-date div:first-child {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: rgb(1, 1, 1);
}
.modal_box-date div:last-child {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: rgb(1, 1, 1);
}

.modal-img {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 450px;
  height: 200px;
  object-fit: cover;
}

.cross-icon {
  padding: 3px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
}

.modal_description {
  background-color: #efefefbf;
  border-radius: 5px;
  margin: 10px;
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.anonsesDate p:first-child {
  font-size: 32px;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: white;
}

.anonsesDate p:last-child {
  font-size: 18px;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: white;
}

@media (max-width: 723px) {
  .modal-img {
    width: 300px;
  }
  .anounce-modal {
    width: 300px;
  }
  .modal_box-title {
    font-size: 1rem;
  }
}
